{% extends 'base.html' %}

{% block header %}
    <h1>Applications</h1>
{% endblock %}

{% block content %}

    {% if applications %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Application Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications %}
                <tr>
                    <td>{{ app.position }}</td>
                    <td>{{ app.created_at }}</td>
                    <td>
                        <select id="status-{{ app.id }}">
                            {% for status in status_choices %}
                            <option value="{{ status.0 }}" {% if status.0 == app.status %}selected{% endif %}>{{ status.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-info" onclick="updateStatus({{ app.id }})">Update Status</button>
                        <button onclick="deleteApplication({{ app.id }})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

        <form class="form-inline" action="/create-reminder">
            <div class="form-group">
                <label for="reminder-status">If status is: </label>
                <select class="form-control" id="reminder-status" name="reminder-status">
                    {% for status in status_choices %}
                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="reminder-duration"> for longer than: </label>
                <input type="text" class="form-control" id="reminder-duration" placeholder="3 days, 1 week, ...">
            </div>

            <div class="form-group">
                <label for="reminder-duration"> Remind me via: </label>
                <div class="radio">
                    <label><input type="radio" name="reminder-method" id="reminder-method-email" value="email" checked>Email</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="reminder-method" id="reminder-method-phone" value="phone">Phone</label>
                </div>
            </div>

            <div class="form-group">
                <label for="reminder-duration"> at </label>
                <input type="text" class="form-control" id="reminder-contact-info" placeholder="202-555-1177">
            </div>

            <button type="submit" class="btn btn-default">Create Reminder</button>
        </form>
    {% else %}
        <div>You haven't applied to any positions yet. <a href="{% url 'positions' %}">Apply here</a></div>
    {% endif %}


    <script>
        function updateStatus(id) {
            new_status = $('select#status-' + id).val();
            data = {
                app_id: id,
                new_status: new_status,
            };
            $.post('/update-status', data);
        };

        function deleteApplication(id) {
            data = {
                app_id: id,
            };
            $.post('/delete-app', data, function() {
                location.reload();
            });
        };
    </script>


{% endblock %}