{% extends 'base.html' %}

{% block header %}
    <h1>Applications</h1>
{% endblock %}

{% block content %}

    {% if applications %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Application Date</th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications %}
                <tr>
                    <td>{{ app.position }}</td>
                    <td>{{ app.created_at }}</td>
                    <td>
                        <select id="status-{{ app.id }}">
                            {% for status in status_choices %}
                            <option value="{{ status.0 }}" {% if status.0 == app.status %}selected{% endif %}>{{ status.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-info" onclick="updateStatus({{ app.id }})">Update Status</button>
                        <button onclick="deleteApplication({{ app.id }})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>You haven't applied to any positions yet. <a href="{% url 'positions' %}">Apply here</a></div>
    {% endif %}


    <script>
        function updateStatus(id) {
            new_status = $('select#status-' + id).val();
            data = {
                app_id: id,
                new_status: new_status,
            };
            $.post('/update-status', data);
        };

        function deleteApplication(id) {
            data = {
                app_id: id,
            };
            $.post('/delete-app', data, function() {
                location.reload();
            });
        };
    </script>


{% endblock %}