{% extends 'base.html' %}

{% block header %}
    <h1>All Positions</h1>
{% endblock %}


{% block content %}
    <!-- Filtering options -->
    <form class="form-inline" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" id="tags" name="tag_search" placeholder="Web Dev, Python">
        </div>

        <button type="submit" class="btn btn-default btn-primary">Search</button>
    </form>

    <!-- Positions list -->
    {% for position in positions %}
        <div class="position">
            <h3>{{ position }}</h3>
            {% for tag in position.tags.all %}
                <span class="btn btn-sm btn-info">{{ tag.description }}</span>
            {% endfor %}
            {% if not position.already_applied %}
                <button class="btn" id="{{ position.id }}" onclick="apply({{ position.id }})" class="apply-button">Apply</button>
            {% else %}
                <button class="btn btn-success" disabled>Applied</button>
            {% endif %}
        </div>
    {% endfor %}

    <script>
        function apply(id) {
            data = {
                position_id: id,
            };
            $.post('/apply', data, function() {
                $('button#' + id).text('Applied').addClass('btn-success').attr('disabled', true);
            });
        };
    </script>

{% endblock %}